
{{ define "main" }}
  <div class="main" role="main">
    <div class="toppage-header">
        {{ with .Site.Params.topimage }}<img src="{{ . }}">{{ end }}
    </div>
    <ul class="section-list">
      {{ range .Site.Sections }}
        {{ if .Title }}
          <li><a href="{{ .RelPermalink }}">{{ .Title }}</a> - {{ .Description }}
            {{ $maxarticle := default 2 .Site.Params.toparticlemax }}
            {{ $numarticle := len .Pages }}
            {{ $morearticle := sub $numarticle $maxarticle }}

            <ul class="section-article-list">
              {{ range first $maxarticle .Pages }}
              <li><time>{{ .Date.Format (default "January 2, 2006" $.Site.Params.dateFormat) }}</time> - <a href="{{ .Permalink | relURL }}">{{ .Title }}</a>
                  {{ if gt .Lastmod .Date }}
                  <span class="updated">Update: {{ .Lastmod.Format (default "January 2, 2006" $.Site.Params.dateFormat) }}</span>
                  {{ end }}
              {{ end }}

              {{ if ge $morearticle 1 }}
                <li>{{ $morearticle }} more article
                {{- if ge $morearticle 2 }}s{{- end }}
                ...
              {{ end }}
            </ul>

        {{ end }}
      {{ end }}
    </ul>
  </div>
{{ end }}
